/* You can add global styles to this file, and also import other style files */
@import "theme/spacing";
@import "theme/sizes.scss";
@import "theme/display-flex.scss";
@import "theme/text.scss";
@import "theme/toast.scss";
@import "theme/variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

.button-loading-spinner {
  height: 20px !important;
  width: 20px !important;
  margin-left: 0.5rem;
}

.divider-container {
  @extend .d-flex;
  @extend .flex-col; 
  @extend .justify-center;
  @extend .items-center;
  @extend .w-12;
  
  height: 3rem;
}

.auth-divider {
	width: 30%;
}

.auth-divider-text {
  @extend .p-sm;
  position: absolute;
  background: white;
}