<mat-nav-list class="!p-2">
  <mat-list-item class="!mb-1 !rounded-sm" button (click)="newLink()">
    <div class="d-flex items-center">
      <mat-icon class="mr-sm" color="primary">add_circle_outline</mat-icon>
      <span class="menu-label">Add New Minified List</span>
    </div>
  </mat-list-item>

  <a
    routerLink="/all-links"
    routerLinkActive
    #allLinks="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-list-item class="!mb-1 !rounded-sm" button [activated]="allLinks.isActive">
      <div class="d-flex items-center">
        <mat-icon class="mr-sm" color="primary">list</mat-icon>
        <span class="menu-label">View All Minified Links</span>
      </div>
    </mat-list-item>
  </a>

  <a
    routerLink="/analytics"
    routerLinkActive
    #analytics="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-list-item class="!mb-1 !rounded-sm" button [activated]="analytics.isActive">
      <div class="d-flex items-center">
        <mat-icon class="mr-sm" color="primary">bar_chart</mat-icon>
        <span class="menu-label">Analytics</span>
      </div>
    </mat-list-item>
  </a>

  <a
    routerLink="/pricing"
    routerLinkActive
    #pricing="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-list-item class="!mb-1 !rounded-sm" button [activated]="pricing.isActive">
      <div class="d-flex items-center">
        <mat-icon class="mr-sm" color="primary">store</mat-icon>
        <span class="menu-label">Pricing</span>
      </div>
    </mat-list-item>
  </a>

  <mat-list-item class="!mb-1 !rounded-sm" button (click)="onLogout()">
    <div class="d-flex items-center">
      <mat-icon class="mr-sm" color="primary">logout</mat-icon>
      <span class="menu-label">Logout</span>
    </div>
  </mat-list-item>
</mat-nav-list>
