<mat-nav-list>
  <mat-list-item button (click)="navigate('/')">
	<div class="d-flex items-center" >
		<mat-icon class="mr-sm" color="primary">add_circle_outline</mat-icon>
		<span class="menu-label">Add New Minified List</span>
	</div>
  </mat-list-item>

  <mat-list-item button (click)="navigate('/all-links')">
	<div class="d-flex items-center">
		<mat-icon class="mr-sm" color="primary">list</mat-icon>
		<span class="menu-label">View All Minified Links</span>
	</div>
  </mat-list-item>

  <mat-list-item button (click)="onLogout()">
	<div class="d-flex items-center">
		<mat-icon class="mr-sm" color="primary">logout</mat-icon>
		<span class="menu-label">Logout</span>
	</div>
  </mat-list-item>
</mat-nav-list>