:host {
  display: block;
}

.card {
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 8px;
  background: white;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  color: #151419;
}