<mat-sidenav-container class="h-full">
  <mat-sidenav
    #drawer
    class="sidenav !rounded-none"
    [mode]="sidenavMode()"
    [opened]="isDrawerOpened()"
    position="start"
  >
    <mat-toolbar></mat-toolbar>
    <app-side-menu (itemClicked)="onSideMenuItemClicked()" />
  </mat-sidenav>

  <!-- Right sidenav -->
  <mat-sidenav
    #createEditDraw
    class="!rounded-none create-edit-drawer main-height overflow-hidden"
    mode="over"
    (closedStart)="resetCreateEditLinkDrawer()"
    [opened]="isCreateEditLinkDrawerOpened()"
    position="end"
  >
    <app-create-edit-link (formSubmittedEvent)="resetCreateEditLinkDrawer()" />
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        color="primary"
        class="menu-button"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <main class="p-4 main-height">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
