<mat-sidenav-container class="h-12">
  <mat-sidenav
    #drawer
    class="sidenav !rounded-none"
    mode="side"
    [opened]="isDrawerOpened()"
    fixedInViewport
    position="start"
  >
    <mat-toolbar></mat-toolbar>
    <app-side-menu />
  </mat-sidenav>

  <!-- Right sidenav -->
  <mat-sidenav
    #createEditDraw
    class="!rounded-none !w-4/10"
    mode="over"
    (closedStart)="resetCreateEditLinkDrawer()"
    [opened]="isCreateEditLinkDrawerOpened()"
    position="end"
  >
    <app-create-edit-link (formSubmittedEvent)="resetCreateEditLinkDrawer()" />
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        color="primary"
        class="menu-button"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <main class="p-md">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
