<div class="p-4">
  <h2 class="px-0 mb-4 mat-headline">
    {{ isEdit ? "Edit Link" : "Add new Link" }}
  </h2>

  <app-link-form
    (formChanges)="onFormChange($event)"
    [existingUrlLink]="existingLink"
    [isEdit]="isEdit ?? false"
  />

  <div class="actions-row">
    <button
      mat-flat-button
      color="primary"
      [disabled]="!urlForm()?.valid || (!isEdit && !canCreateLink())"
      (click)="onSubmit()"
    >
      {{ isEdit ? 'Edit Link' : 'Create Link' }}
    </button>
  </div>
</div>
