.short-link {
  text-decoration: none;
}

.table-container {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  overflow: hidden;
}

table th {
  background-color: rgba(154, 78, 174, 0.08) !important;
  border-color: #eaeaea !important;
}

table tr {
	border-bottom: 1px solid #eaeaea !important;
}

.copy-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 8px;
}