.short-link {
  text-decoration: none;
}

.table-container {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  overflow-x: auto;
}

table th {
  background-color: rgba(154, 78, 174, 0.08) !important;
  border-color: #eaeaea !important;
}

table tr {
	border-bottom: 1px solid rgba(234, 234, 234, 1) !important;
}

table td {
  border: none !important
}

.copy-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 8px;
}

@media (max-width: 639px) {
  .hide-mobile {
    display: none !important;
  }
}
