<div class="table-container">
  <table>
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
      <tr>
        @for (header of headerGroup.headers; track header.id) { @if
        (!header.isPlaceholder) {
        <th class="p-md">
          <ng-container
            *flexRender="
              header.column.columnDef.header;
              props: header.getContext();
              let header
            "
          >
            <div [innerHTML]="header"></div>
          </ng-container>
        </th>
        } }
      </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
      <tr>
        @for (cell of row.getVisibleCells(); track cell.id) {
        <td>
          <ng-container
            *flexRender="
              cell.column.columnDef.cell;
              props: cell.getContext();
              let cell
            "
          >
            @if (cell.columnId=== 'shortURL') {
            <a [href]="cell" target="_blank">
              {{ cell.data }}
            </a>
            } @else if (cell.columnId === 'createdAt') {
            <div>{{ cell.data | date : "mediumDate" }}</div>
            } @else if (cell.columnId === 'actions') {
            <ion-list class="ion-no-padding">
              <ion-button [id]="row.id" fill="clear">
                <ion-icon
                  [icon]="icons.ellipsisVerticalOutline"
                  class="mr-sm"
                ></ion-icon>
                Actions
              </ion-button>

              <ion-popover
                [trigger]="row.id"
                [dismissOnSelect]="true"
                [showBackdrop]="false"
                [animated]="true"
                alignment="end"
                size="cover"
              >
                <ng-template>
                  <ion-content>
                    <ion-list lines="none">
                      <ion-item [button]="true" [detail]="false" (click)="onEdit(cell)">
                        <ion-icon
                          [icon]="icons.pencilOutline"
                          color="success"
                          class="mr-sm"
                        ></ion-icon>
                        Edit
                      </ion-item>
                      <ion-item [button]="true" [detail]="false" (click)="onDelete(cell)">
                        <ion-icon
                          [icon]="icons.trashOutline"
                          color="danger"
                          class="mr-sm"
                        ></ion-icon>
                        Delete
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-list>
            } @else {
            <div>{{ cell.data }}</div>
            }
          </ng-container>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
