<div class="table-container">
  <table>
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
      <tr>
        @for (header of headerGroup.headers; track header.id) { @if
        (!header.isPlaceholder) {
        <th class="p-md">
          <ng-container
            *flexRender="
              header.column.columnDef.header;
              props: header.getContext();
              let header
            "
          >
            <div [innerHTML]="header"></div>
          </ng-container>
        </th>
        } }
      </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getPaginationRowModel().rows; track row.id) {
      <tr>
        @for (cell of row.getVisibleCells(); track cell.id) {
        <td>
          <ng-container
            *flexRender="
              cell.column.columnDef.cell;
              props: cell.getContext();
              let cell
            "
          >
            @if (cell.columnId=== 'shortURL') {
            <ion-icon
              [appCopyClipboard]="cell.data"
              [icon]="icons.copyOutline"
              color="primary"
              class="mr-sm"
              (click)="presentPopover($event)"
            />

            <a [href]="cell.data" target="_blank">
              {{ cell.data }}
            </a>
            } @else if (cell.columnId === 'createdAt') {
            <div>{{ cell.data | date : "mediumDate" }}</div>
            } @else if (cell.columnId === 'actions') {
            <ion-list class="ion-no-padding">
              <ion-button [id]="row.id" fill="clear">
                <ion-icon
                  [icon]="icons.ellipsisVerticalOutline"
                  class="mr-sm"
                ></ion-icon>
                Actions
              </ion-button>

              <ion-popover
                [trigger]="row.id"
                [dismissOnSelect]="true"
                [showBackdrop]="false"
                [animated]="true"
                alignment="end"
                size="cover"
              >
                <ng-template>
                  <ion-content>
                    <ion-list lines="none">
                      <ion-item
                        [button]="true"
                        [detail]="false"
                        (click)="onEdit(cell)"
                      >
                        <ion-icon
                          [icon]="icons.pencilOutline"
                          color="success"
                          class="mr-sm"
                        ></ion-icon>
                        Edit
                      </ion-item>
                      <ion-item
                        [button]="true"
                        [detail]="false"
                        (click)="onDelete(cell)"
                      >
                        <ion-icon
                          [icon]="icons.trashOutline"
                          color="danger"
                          class="mr-sm"
                        ></ion-icon>
                        Delete
                      </ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-list>
            } @else {
            <div>{{ cell.data }}</div>
            }
          </ng-container>
        </td>
        }
      </tr>
      } @empty {
        <tr>
          <td [attr.colspan]="table.getHeaderGroups()[0].headers.length" class="no-data-row p-md">
            No data available
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<ion-row class="justify-end items-center mt-md">
  <ion-col size="auto">
    <ion-button fill="clear" class="mr-sm" (click)="table.previousPage()" [disabled]="!table.getCanPreviousPage()">
      <ion-icon slot="icon-only" [icon]="icons.arrowBackOutline"></ion-icon>
    </ion-button>
    <span>
      Page {{ table.getState().pagination.pageIndex + 1 }}
      of {{ table.getPageCount() }}
    </span>
    <ion-button fill="clear" class="ml-sm" (click)="table.nextPage()" [disabled]="!table.getCanNextPage()">
      <ion-icon slot="icon-only" [icon]="icons.arrowForwardOutline"></ion-icon>
    </ion-button>
  </ion-col>

  <ion-col size="auto">
    <ion-select
      [value]="table.getState().pagination.pageSize"
      (ionChange)="table.setPageSize($event.detail.value)"
      interface="popover"
      placeholder="Rows per page"
    >
      <ion-select-option *ngFor="let size of [2, 5, 10]" [value]="size">
        {{ size }} per page
      </ion-select-option>
    </ion-select>
  </ion-col>
</ion-row>
