.table-container {
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
  overflow: auto;
}

table {
  width: 100%;
}

th {
  color: var(--ion-text-color-step-400);
  border-bottom: 1px solid var(--ion-color-primary);
  text-align: start;
}

.url-name {
  text-overflow: ellipsis;
}

td:first-of-type {
  padding-left: 1rem;
}

td:last-of-type {
  padding-right: 1rem;
}