<div class="flex flex-col lg:flex-row h-screen overflow-hidden">
  <div class="hidden lg:block lg:w-2/3">
    <img class="w-full h-full object-cover" src="assets/auth-background.jpg" alt="Auth Background" />
  </div>

  <div class="w-full lg:w-1/3 p-4 lg:p-10 flex flex-col justify-center items-center">
    <form [formGroup]="formGroup" class="sign-up-form">
      <!-- Title -->
      <div class="mb-10">
        <h2 class="!text-4xl !font-light mb-0">
          Create your account to get started.
        </h2>
      </div>

      <div id="google-signin-button"></div>


      <div class="w-full text-center mb-6">
        <span class="font-light text-sm text-light mb-10"
          >Or sign in with</span
        >
      </div>

      <!-- Email Input -->
      <mat-form-field appearance="outline" class="w-full mb-2">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          [formControl]="controls.email"
          placeholder="example@domain.com"
        />
      </mat-form-field>

      <!-- Password Input with Toggle -->
      <mat-form-field appearance="outline" class="w-full mb-2">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          [formControl]="controls.password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
          type="button"
        >
          <mat-icon color="primary">{{
            showPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="flex flex-col items-center justify-center">
        <!-- Sign Up Button -->
        <button
          mat-raised-button
          color="primary"
          class="mb-2 w-full"
          [disabled]="!formGroup.valid || isSignUpButtonLoading()"
          (click)="onSignUp()"
        >
          <div class="flex items-center justify-center">
            Sign Up @if (isSignUpButtonLoading()) {
            <mat-spinner class="button-loading-spinner" />
            }
          </div>
        </button>
      </div>

      <!-- Redirect to sign-up -->
      <div class="text-center mt-4">
        <span class="text-sm">
         Already Have an Account?
          <a class="text-primary" routerLink="/auth/sign-in">Sign In</a>
        </span>
      </div>
    </form>
  </div>
</div>
